@charset "utf-8";
body {
  font-family: "Playfair Display", serif;
}

header {
  width: 100%;
  position: fixed;
  z-index: 1000;
}
.wrap {
  width: 90%;
  margin: 0 auto;
  padding: 10px;
  color: #fff;
}
.wrap .top {
  display: flex;
  justify-content: space-between;
}
.wrap .top .topl h1 img {
  width: 200px;
}
.wrap .top .topr {
  display: flex;
  gap: 15px;
  filter: invert(100);
}
.wrap .top .topr img {
  width: 15px;
  height: 15px;
  cursor: pointer;
}
.wrap .bottom {
  display: flex;
  justify-content: space-between;
}
.wrap .bottom nav ul {
  display: flex;
  gap: 30px;
  font-size: 12px;
}
#visual {
  width: 100%;
  height: 100vh;
  position: relative;
}
#visual video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
}
#visual button {
  width: 100px;
  height: 50px;
  background-color: #fcfcfc87;
  border: 1px solid #fff;
  position: absolute;
  border-radius: 50px;
  top: 90%;
  left: 0;
  margin: 0 auto;
  right: 0;
  cursor: pointer;
  color: #696969;
}
#visual button:hover {
  background-color: #6969698e;
  color: #dbdbdb;
}
.page1 {
  font-family: "Noto Sans", sans-serif;
  width: 90%;
  margin: 0 auto;
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.page1_l {
  display: flex;
  flex-direction: column;
  gap: 100px;
}
.page1_l p {
  width: 80%;
  line-height: 1.5;
  font-size: 15px;
  word-break: keep-all;
}
.page1_l .page1_l_img {
  display: flex;
  gap: 100px;
  flex-direction: row;
  position: relative;
}
.page1_l .page1_l_img .box1 {
  width: 200px;
  height: 240px;
  background-color: black;
  position: absolute;
  left: 10px;
  top: -10px;
}
.page1_l .page1_l_img .box2 {
  width: 200px;
  height: 240px;
  background-color: black;
  position: absolute;
  bottom: -10px;
  left: 290px;
}
.page1_l .page1_l_img img {
  width: 200px;
  z-index: 100;
}
.page1 .page1_r img {
 width: 500px;
}
.page2 {
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
.page2_all {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.page2 h2 {
  font-size: 25px;
  margin-bottom: 10px;
}
.page2_all .page2_l img {
  width: 400px;
}
.page2_all .page2_l .slick-prev-custom img {
  width: 20px;
}
.page2_all .page2_l .slick-next-custom img {
  width: 20px;
}
.page2_all .page2_l {
  width: 400px;
  overflow: hidden;
  text-align: center;
}

.page2_l .slider {
  width: 100%;
}

.page2_l .slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.page2_l .slide img {
  width: 100%;
  height: auto;
}

.page2_l .slide b {
  font-size: 15px;
  margin-top: 10px;
}
.page2 .page2_center1 {
  display: flex; 
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 890px;
}
.page2 .page2_center1 .item {
  width: 200px;
  margin: 5px 10px;
}
.page2 .page2_center1 .item p {
  font-size: 13px;
}
.page2 .page2_center1 .item b {
  font-size: 10px;
}
.page2 .page2_center1 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
} 
.page3 {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.page3 .page3_all {
  margin:0  auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;
  flex-direction: row;
}
.page3 .page3_all .box3 {
  position: relative;
  z-index: 100;
}
.page3 .page3_all .box3 h3 {
  text-align: center;
  width: 100%;
  font-size: 30px;
  color: #fff;  
  position: absolute;
  top: 50%;
  z-index: 10;
}
.page3 .page3_all .box3 img {
  width: 250px;
  filter: brightness(35%);
}
.page3 .page3_all .box4 {
  width: 250px;
  height: 300px;
  background-color: black;
  position: absolute;
  top: -10px;
  left: -10px;
}
.page3 .page3_all .page3_center {
  display: flex; 
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 700px;

}
.page3 .page3_all .page3_center .item  {
  margin: 5px 20px;

}
.page3 .page3_all .page3_center .item img {
  width: 200px;
}
.page3 .page3_all .page3_center .item b {
  font-size: 10px;
}
.page3 .more {
  background-color: #f6f6f66d;
  width: 100px;
  height: 50px;
  color: #696969;
  border: 1px solid #bababa;
  border-radius: 50px;
  position: absolute;
  left: 85%;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}
.page3 .more:hover {
  background-color: #b0b0b0bc;
  color: #f8f8f8;
  border: 1px solid #8e8e8e;
}
.page4 {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  background: #ffffff;
  background: -moz-linear-gradient(top, #ffffff 0%, #FFFEF4 50%, #FFFAEF 100%);
  background: -webkit-linear-gradient(top, #ffffff 0%, #FFFEF4 50%, #FFFAEF 100%);
  background: linear-gradient(to bottom, #ffffff 0%, #FFFEF4 50%, #FFFAEF 100%);
}
.page4_all {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  gap: 50px;
  justify-content: center;
  align-items: center;
}
.page4_all .page4_l {
  display: flex;
  flex-direction: column;
  gap: 70px;
  justify-content: center;
}
.page4_all .page4_l p {
  font-size: 12px;
}
.page4_all .page4_l h4 {
  font-size: 50px;
  color: #856565;
}
.page4_all .page4_l b {
  font-size: 15px;
  word-break: keep-all;
  line-height: 1.5;
  font-family: "Noto Sans", sans-serif;
}
.page4_all .page4_l b i {
  color: #856565;
}
.page4_img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 650px;
  overflow: hidden;
}
.page4_all .page4_item {
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-size: 13px;
  margin: 0 10px;
}
.page4_all .page4_item b {
  font-size: 10px;
}
.page4_item img {
  width: 200px;
}
.page4_r img {
  width: 400px;
} 
.page5 {
  width: 100%;
  height: 100vh;
  background: #FFFAEF;
  background: -moz-linear-gradient(top, #FFFAEF 0%, #FFFEF4 50%, #FFFFFF 100%);
  background: -webkit-linear-gradient(top, #FFFAEF 0%, #FFFEF4 50%, #FFFFFF 100%);
  background: linear-gradient(to bottom, #FFFAEF 0%, #FFFEF4 50%, #FFFFFF 100%);
}

.page5_l img {
  width: 500px;
}

.page5_all {
  width: 90%;
  margin: 0 auto;
  display: flex;
  gap: 50px;
  justify-content: space-around;
  align-items: center;
}
.page5_img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 430px;
  overflow: hidden;
}
.page5_all .page5_item {
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-size: 13px;
  margin: 5px 10px;
}
.page5_all .page5_item b {
  font-size: 10px;
}
.page5_item img {
  width: 200px;
}
.page6 {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  background: #ffffff;
  background: -moz-linear-gradient(top, #ffffff 0%, #E9E9E9 50%, #FFFFFF 100%);
  background: -webkit-linear-gradient(top, #ffffff 0%, #E9E9E9 50%, #FFFFFF 100%);
  background: linear-gradient(to bottom, #ffffff 0%, #E9E9E9 50%, #FFFFFF 100%);
}
.page6_all {
  width: 90%;
  margin: 0 auto;
  display: flex;
  gap: 50px;
  justify-content: center;
  -webkit-backdrop-filter: grayscale(.8);
  backdrop-filter: grayscale(.8);
}
.page6_all .page6_l {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: center;
  justify-content: center;
}
.page6_all .page6_l b {
  font-size: 25px;
  word-break: keep-all;
  color: #393939;
  font-weight: 500;
}
.page6_all .page6_l p {
  font-family: "Noto Sans", sans-serif;
  text-align: center;
  line-height: 1.5;
} 
.page6_all .page6_r {
  display: grid;
  grid-template-columns: repeat(2, 0fr);
  justify-content: center;
  align-items: center;
}
.page6_all .page6_r img {
  width: 280px;
  height: 380px;
}
.page7 {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
}
.page7_all {
  width: 90%;
  margin: 0 auto;
  display: flex;
  gap: 50px;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
}
.page7_all .page7_l {
  display: flex;
  justify-content: center;
  position: relative;
}
.page7_all .page7_l img {
  width: 300px;
  height: 250px;
  position: absolute;
  top: -100px;
  left: 20px;
}
.page7_all .page7_l .box7 {
  width: 300px;
  height: 250px;
  background: #FFFFFF;
  background: -moz-radial-gradient(center, #FFFFFF 0%, #CACACA 0%, #FFFFFF 100%);
  background: -webkit-radial-gradient(center, #FFFFFF 0%, #CACACA 0%, #FFFFFF 100%);
  background: radial-gradient(ellipse at center, #FFFFFF 0%, #CACACA 0%, #FFFFFF 100%);
  position: absolute;
  top: -50px;
  left: -30px;
}
.page7_all .page7_l .box8 {
  width: 300px;
  height: 250px;
  background: #FFFFFF;
  background: -moz-radial-gradient(center, #FFFFFF 0%, #2C2C2C 0%, #FFFFFF 100%);
  background: -webkit-radial-gradient(center, #FFFFFF 0%, #2C2C2C 0%, #FFFFFF 100%);
  background: radial-gradient(ellipse at center, #FFFFFF 0%, #2C2C2C 0%, #FFFFFF 100%);
  position: absolute;
  top: -80px;
  left: -5px;
}
.page7_all .page7_r {
  display: flex; 
  flex-wrap: wrap;
  justify-content: center; /* 가운데 정렬 */
  align-items: center;
  overflow: hidden;
  width: 650px;
}
.page7_all .page7_r .item {
  width: 200px; /* 명확한 크기 지정 */
  margin: 5px 10px;
}
.page7_all .page7_r .item b {
  font-size: 10px;
}
.page7_all .page7_r .item img {
  width: 200px;
}
.page8 {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.page8_all {
  width: 90%;
  display: flex;
  flex-direction: row;
  gap: 50px;
  justify-content: center;
  align-items: center;
}

.page8_all .page8_l {
  display: flex;
  flex-direction: column;
  max-width: 50%;
  gap: 50px;
  text-align: center;
  padding: 220px 0;
}
.page8_all .page8_l b {
  font-size: 25px;
}
.page8_all .page8_l p {
  line-height: 1.5;
  font-family: "Noto Sans", sans-serif;
  ;
}

.page8_r {
  width: 750px;
  height: 550px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.page8_r video {
  width: 100%;
  height: 100%;
  object-fit: cover; /* 비율 유지하며 꽉 채우기 */
}
.page9 {
  width: 100%;
}
.page9_all {
  width: 80%;
  margin: 100px auto;
  display: flex;
  justify-content: space-between;
}
.page9_all .item {
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-size: 13px;
}
.page9_all .item b {
  font-size: 10px;
}
.page9_all .item img {
  width: 250px;
}
.page10 {
  width: 100%;
}
.page10_all {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.page10_all .item {
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-size: 13px;
}
.page10_all .item b {
  font-size: 10px;
}
.page10_all .item img {
  width: 250px;
}
.page11 {
  width: 80%;
  margin: 0 auto;
  background-image: url(../img/back2.png);
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  position: relative;
  margin: 50px auto;
}
.page11 .box_11 {
  width: 800px;
  height: 300px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  color: #ffffff;
  text-shadow: 0 0 15px #000000;
  font-size: 50px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  right: 0;
}
footer {
  background-color: #222222;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  color: #fff;
  font-family: "Noto Sans", sans-serif;
}
footer ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 13px;
}
footer ul li b {
  font-size: 12px;
}